<footer>
    <div class="logos" style="padding: 20px;">
        <a href="https://www.linkedin.com/in/daniel-lujan-181631109/" target="_blank"><i class="fab fa-linkedin-in social-icon"></i></a>
        <a href="https://twitter.com/DanielLujan96" target="_blank"><i class="fab fa-twitter social-icon"></i></a>
        <a href="mailto:daniel.lujan96@gmail.com"><i class="fas fa-envelope social-icon"></i></a>
    </div>
    <div style="padding: 8px;">
        <p>Copyright Daniel Lujan <script type="text/JavaScript"> document.write(new Date().getFullYear());</script></p>
    </div>
</footer>
