<header>
    <nav class="blog-nav">
        <div>
            <div class="nav-link link-blog">
                <a class="link" href="/">Home</a>
            </div>
            <div class="nav-link link-blog">
                <a class="link" href="/blog/">Blog</a>
            </div>
        </div>
    </nav>
</header>
