/* SECTION 4 - CONTACT */

#contact {
    color: #171d22;
}

#contact .background {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #fff;
}

#contact .content-wrapper {
    margin: 0 auto 3rem;
    width: 75%;
    text-align: center;
}

#contact h2 {
    margin: 55px 0;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
}

#contact h2:after {
    content: '';
    display: block;
    margin: 20px auto;
    width: 75px;
    border-top: 4px solid #171d22;
}

#contact p {
    font-size: 1.4em;
    margin-bottom: 30px;
}

#contact span {
    color: rgb(126, 233, 126);
    font-weight: 700;
}

#contact span:nth-of-type(2) {
    color: #45bafc; 
}

#contact .flex-container {
    width: 76%;
    margin: 0 auto;
}

